@include('pages/posts/partials/header')

  <h1> {{title}} </h1>
  @each(post in posts)
    <h3>{{post.title}}</h3>
    <img src={{post.imageUrl}} alt="image">
    <p>{{post.description}}</p>
    <p>{{post.slug}}</p>
  @end

@include('pages/posts/partials/footer')
